<span class="icon icon-{{ icon }} {{ class }}">
  {%- case icon -%}
    {%- when 'arrow' -%}
      <svg class="{{ iconClass }}" height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"/></svg>
    {% when 'triangle' %}
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 0L0 0L0 32L32 0Z" fill="currentColor"/></svg>
    {% when 'star' %}
      <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.21022 7.36318C8.21022 7.36318 3.66931 7.86613 0.640114 8.20239C0.367085 8.23544 0.125669 8.41794 0.0351384 8.69528C-0.0553925 8.97262 0.0351382 9.26146 0.236318 9.44396C2.48666 11.4974 5.86792 14.5726 5.86792 14.5726C5.86504 14.5726 4.93961 19.046 4.32458 22.0306C4.27285 22.3008 4.37056 22.5868 4.60623 22.7578C4.84046 22.9288 5.14223 22.9316 5.37934 22.798C8.02916 21.292 11.9982 19.0273 11.9982 19.0273C11.9982 19.0273 15.9686 21.292 18.6141 22.7994C18.8555 22.9316 19.1573 22.9288 19.3915 22.7578C19.6272 22.5868 19.7249 22.3008 19.6717 22.0321C19.0567 19.046 18.1327 14.5726 18.1327 14.5726C18.1327 14.5726 21.514 11.4974 23.7643 9.44827C23.9655 9.26002 24.0546 8.97119 23.9655 8.69528C23.8764 8.41938 23.635 8.23688 23.3619 8.20527C20.3327 7.86613 15.7904 7.36318 15.7904 7.36318C15.7904 7.36318 13.9079 3.19876 12.6534 0.422478C12.5356 0.173877 12.2884 0 11.9982 0C11.7079 0 11.4593 0.175314 11.3472 0.422478C10.0913 3.19876 8.21022 7.36318 8.21022 7.36318Z" fill="currentColor"/></svg>        
  {%- endcase -%}
</span>