{%- if product.variants.size > 0 -%}
  Fra&nbsp;
{%- endif -%}
<span class="price">{{ product.price | money }}</span>
{%- if product.compare_at_price > product.price -%}&nbsp;<span class="old-price line-through opacity-50">{{ product.compare_at_price | money }}</span>{%- endif -%}