{%- if product.variants < 0 -%}Fra {%- endif -%}<span class="price on-sale">{{ product.price | money }}</span>
{%- if product.compare_at_price > product.price -%}&nbsp;<span class="old-price line-through opacity-50">{{ product.compare_at_price | money }}</span>{%- endif -%}