<header>
  <nav id="main-navigation">
    nav
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "label": "Logo",
      "id": "logo",
      "type": "image_picker"
    }
  ],
  "templates": [
    "index"
  ]
}
{% endschema %}