<header class="container w-full">
  <nav id="main-navigation" class="text-center">
    Header.liquid
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "label": "Logo",
      "id": "logo",
      "type": "image_picker"
    }
  ]
}
{% endschema %}