<header class="w-full">
  <nav id="main-navigation" class="container flex justify-between relative items-center">
    <div class="logo">
      <a href="/" class="font-bold">FarSea</a>
    </div>

    <div class="menu absolute absolute-center">
      <ul class="menu flex">

        {%- for link in linklists.main-menu.links -%}
          <li class="menu-item mx-2">
            <a href="{{ link.url }}" class="px-1 leading-[64px] inline-block hover:underline underline-offset-8">{{ link.title }}</a>
          </li>

          {%- if link.links.size > 10 -%}
            <div class="dropdown">
              <ul class="dropdown-menu">
                {%- for child_link in link.links -%}
                  <li class="child-link">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}

        {%- endfor -%}

      </ul>
    </div>

    <div class="icons">
      {% render 'icon', icon: 'cart', class: 'hover:cursor-pointer h-[64px]' %}
    </div>

  </nav>

  <div id="overlay" class="fixed top-0 left-0 w-full h-full bg-ocean-500 opacity-50 z-40 invisible [&.active]:visible"></div>
  {% render 'cart' %}
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "label": "Logo",
      "id": "logo",
      "type": "image_picker"
    }
  ]
}
{% endschema %}