<section>
  <h1>{{ section.settings.heading }}</h1>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "limit": 1,
  "settings": [
    {
      "label": "Heading",
      "id": "heading",
      "type": "text",
      "default": "Welcome to our store!"
    },
    {
      "label": "Text",
      "id": "text",
      "type": "text",
      "default": "Lorem ipsum dolor..."
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "label": "Label",
      "id": "button_label_1",
      "type": "text",
      "default": "Shop all"
    },
    {
      "label": "Button Link",
      "id": "button_link_1",
      "type": "url"
    },
    {
      "label": "Open in new tab",
      "id": "button_target_1",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "label": "Label",
      "id": "button_label_2",
      "type": "text",
      "default": "Learn more"
    },
    {
      "label": "Button Link",
      "id": "button_link_2",
      "type": "url"
    },
    {
      "label": "Open in new tab",
      "id": "button_target_2",
      "type": "checkbox",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}