<div id="pre-header">
  free shipping | 1-3 dages levering | fremragende på trustpilot
</div>

{% schema %}
{
  "name": "Pre Header",
  "settings": [
    {
      "label": "Background",
      "id": "background",
      "type": "color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "label": "Item text",
          "id": "item-text",
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}