<div id="pre-header" class="text-xl">
  free shipping | 1-3 dages levering | fremragende på trustpilot
</div>

{% schema %}
{
  "name": "Pre Header",
  "settings": [
    {
      "label": "Background",
      "id": "background",
      "type": "color"
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": [
        {
          "label": "Title",
          "id": "title",
          "type": "text"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "background": "#333333"
    },
    "blocks": [
      {
        "type": "title",
        "settings": {
          "title": "Fremragende på TrustPilot"
        }
      },
      {
        "type": "title",
        "settings": {
          "title": "Fri fragt fra 600 kr."
        }
      },
      {
        "type": "title",
        "settings": {
          "title": "1-3 dages levering"
        }
      }
    ]
  }
}
{% endschema %}