<div class="container my-section">
  <h3 class="h2">{{ section.settings.title }}</h3>

  <div class="product-related-swiper relative">
    <div class="swiper-wrapper">
      {%- for product in product.collections.first.products -%}
        <div class="swiper-slide">
          {% render 'product-media', media: product.media.first %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Related Products",
  "class": "section-related-products",
  "tag": "section",
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text",
      "default": "Lignende produkter"
    }
  ],
  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}