<div class="container">
  <div class="min-h-[calc(100vh-200px)] py-20 grid place-items-center">
    <div class="text-center">
      <h1 class="mb-4">Beklager, siden findes ikke...</h1>
      <p class="max-w-[400px] mx-auto mb-8">Siden du har søgt efter, findes ikke. Den kan enten være flyttet eller slettet.</p>
      <div class="flex justify-center">
        <a href="{{- routes.root_url -}}" class="button secondary w-[130px] mr-1">Forsiden</a>
        <a href="{{- routes.all_products_collection_url -}}" class="button secondary outline w-[130px] ml-1">Shop</a>
      </div>
    </div>
  </div>
</div>