@font-face {
  font-family: 'ITC Avant Garde';
  src: url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
      url('../fonts/ITCAvantGardeStd-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italianno';
  src: url('../fonts/Italianno-Regular.woff2') format('woff2'),
      url('../fonts/Italianno-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
      url('../fonts/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Medium.woff2') format('woff2'),
      url('../fonts/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2'),
      url('../fonts/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Italic.woff2') format('woff2'),
      url('../fonts/WorkSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-MediumItalic.woff2') format('woff2'),
      url('../fonts/WorkSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/WorkSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

body {
  @apply font-body;
}

h1 {
  @apply text-2xl md:text-3xl lg:text-4xl font-em;
}

h2 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

h3 {
  @apply text-lg md:text-xl lg:text-2xl;
}

h4 {
  @apply text-base md:text-lg lg:text-xl;
}

h5 {
  @apply text-sm md:text-base lg:text-lg;
}

h6 {
  @apply text-xs md:text-sm lg:text-base;
}