@import './fonts.scss';
@import 'swiper/css/bundle';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-body text-ocean-500 text-[15px] md:text-base;
}

main {
  section.padding {
    @apply py-16;
  }

  section.margin {
    @apply my-16;
  }
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @apply font-heading font-normal;
}

h1,
.h1 {
  @apply text-3xl md:text-3xl lg:text-5xl mb-3;
}

h2,
.h2 {
  @apply text-2xl mb-2 md:text-3xl lg:text-4xl md:mb-3;
}

h3,
.h3 {
  @apply text-xl md:text-xl lg:text-3xl mb-2;
}

h4,
.h4 {
  @apply text-base md:text-lg lg:text-xl mb-2;
}

h5,
.h5 {
  @apply text-lg md:text-base lg:text-lg mb-1;
}

h6,
.h6 {
  @apply text-base md:text-sm lg:text-base mb-1;
}

strong {
  @apply font-semibold;
}