#shopify-section-header {
  @apply h-16 bg-white shadow-md flex items-center top-0 left-0 z-50;
}

.button {
  @apply px-6 py-3 rounded-sm inline-block font-medium;
  border: 1.5px solid transparent;
  &.primary {
    @apply bg-pearl-500 text-ocean-500 border-pearl-500;
  }
  &.secondary {
    @apply bg-ocean-500 border-ocean-500 text-white;
    &.outline {
      @apply text-ocean-500;
    }
  }
  &.white {
    @apply bg-white border-white text-ocean-500;
    &.outline {
      @apply text-white outline-0;
    }
  }
  &.outline {
    background-color: transparent!important;
    outline: none;
    &:hover {
      @apply bg-ocean-500 text-white border-ocean-500;
    }
  }
}

.input {
  @apply px-6 py-3 rounded-sm text-ocean-500 bg-transparent border-solid border-[1px] border-ocean-500;
}

.icon {
  @apply w-6 h-6 inline-flex place-items-center;
  svg {
    @apply block max-w-full max-h-full mx-auto;
  }
}

.swiper-wrapper {
  & ~ .button-prev,
  & ~ .button-next {
    @apply w-10 h-10 rounded-full bg-white after:content-none border-solid border-ocean-500 border-[1px] absolute top-[50%] translate-y-[-50%] grid place-items-center z-10 text-ocean-500 cursor-pointer;
    &.swiper-button-disabled {
      @apply hidden;
    }
  }
  & ~ .button-prev {
    @apply left-[2%];
  }
  & ~ .button-next {
    @apply right-[2%];
  }
}

.sub-heading {
  @apply font-script text-pearl-500;
}

.accordion {
  .accordion-item {
    .accordion-title {
      position: relative;
    }
  }
  .accordion-panel {
    @apply overflow-hidden max-h-0 duration-300;
  }
}

.product-variants.radio {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
  .variant {
    margin: 4px;
    position: relative;
    overflow: hidden;
    border-radius: 999px;
  }
  .variant-option {
    @apply px-6 py-2 rounded-full border-solid border-[1px] border-ocean-500 inline-block cursor-pointer transition-all select-none;
    &.checked {
      @apply bg-ocean-500 border-ocean-500 text-white;
    }
    &.disabled {
      @apply cursor-not-allowed;
      & + .cross {
        @apply absolute top-0 left-0 w-full h-full select-none;
        span {
          @apply absolute top-0 left-0 select-none;
          width: 100%;
          height: 100%;
          z-index: 1;
          &:first-of-type { 
            background: linear-gradient(to bottom right, transparent calc(50% - 1px),  black calc(50% - 1px), black 50%, transparent 50%);
          }
          &:last-of-type { 
            background: linear-gradient(to bottom left, transparent calc(50% - 1px),  black calc(50% - 1px), black 50%, transparent 50%);
          }
        }
      }
    }
  }
}

.product-variants.select {
  &.open {
    .dropdown {
      @apply flex;
    }
    .select {
      .icon {
        @apply rotate-180;
      }
    }
  }
  .select * {
    user-select: none;
  }
  .variant * {
    user-select: none;
  }
  .variant[disabled] {
    
  }
}

.product-media-swiper {
  .swiper-slide {
    img {
      width: 100%;
      max-height: 80vh;
      object-fit: cover;
    }
  }
  .swiper-pagination {
    @apply absolute bottom-5 w-full flex justify-center;
    .swiper-pagination-bullet {
      @apply w-3 h-3 rounded-full bg-transparent border-solid border-[1px] border-white block mx-1;
    }
    .swiper-pagination-bullet-active {
      @apply relative;
      &:before {
        content: "";
        @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] bg-white w-[6px] h-[6px] block rounded-full;
      }
    }
  }
}