#shopify-section-header {
  @apply h-16 bg-white shadow-md flex items-center top-0 left-0 z-50;
}

.button {
  @apply px-6 py-3 rounded-sm inline-block font-medium;
  border: 1.5px solid transparent;
  &.primary {
    @apply bg-pearl-500 text-ocean-500 border-pearl-500;
  }
  &.secondary {
    @apply bg-ocean-500 border-ocean-500 text-white;
    &.outline {
      @apply text-ocean-500;
    }
  }
  &.white {
    @apply bg-white border-white text-ocean-500;
    &.outline {
      @apply text-white outline-0;
    }
  }
  &.outline {
    background-color: transparent!important;
    outline: none;
  }
}

.icon {
  @apply w-6 h-6 inline-block;
  svg {
    @apply block max-w-full max-h-full;
  }
}

.swiper {
  .button-prev,
  .button-next {
    @apply w-10 h-10 rounded-full bg-white after:content-none border-solid border-ocean-500 border-[1px] absolute top-[50%] translate-y-[-50%] grid place-items-center z-10 text-ocean-500 cursor-pointer;
    &.swiper-button-disabled {
      @apply border-gray-50 text-gray-50;
    }
  }
  .button-prev {
    @apply left-[2%];
  }
  .button-next {
    @apply right-[2%];
  }
}