.image-bg {
  @apply w-[100%] h-[100%] object-cover;
}

.py-section {
  @apply py-12 md:py-16 lg:py-20;
}

.my-section {
  @apply my-12 md:my-16 lg:my-20;
}

.absolute-center {
  @apply left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%];
}